@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

body {
    font: 400 14px Montserrat, sans-serif;
    background: #A3A3FF;
    -webkit-font-smoothing: antialiased;
}

form input {
    border: 1px solid #DCDCE6;
    border-radius: 8px;
    color: #333333;
    height: 60px;
    padding: 0 24px;
    width: 100%;
}

input, .button, textarea {
    font: 400 18px Montserrat, sans-serif;
}

.button {
    border-radius: 8px;
    color: #DFDFDF;
    display: inline-block;
    padding: 15px 40px;
    transition: filter color 0.2s;
}

.button.active {
    background-color: #3c366b;
}

.button:not(.active):hover {
    color: #FFFFFF;
    filter: brightness(90%);
}

.container {
    background-color: #FFFFFF;
    box-shadow: 6px 6px 10px 1px rgba(0,0,0,0.65);
    border-radius: 8px;
    display: inline-flex;
    flex-direction: column;
    max-height: 650px;
    padding: 20px 40px;
    width: 100%;
}

#root {
    align-items: center;
    display: flex;
    justify-content: center;
    height: 100vh;
    padding: 30px;
}